__pycache__/
statistics/*
videos/*
!videos/.gitkeep
.vscode/
data/video/*
data/images/*
data/datasets/*
!data/video/.gitkeep
!data/images/.gitkeep
!data/datasets/.gitkeep
weights/*
!weights/.gitkeep
statistics/screenshots/*
statistics/data/*
!statistics/.gitignore
!statistics/data/distance_stats_example.csv
!statistics/data/mask_stats_example.csv
!statistics/screenshots/dictance/example.jpg
!statistics/screenshots/masks/example.jpg
!statistics/example.png
graphics/*
!graphics/.gitkeep
.idea
*.avi
*.mp4
